# Introduction to Python 

### Topics Covered
* Python Features
* Numbers
* Basic Arithmetics
* Advanced Numbers
* Dynamically Typed
* Objects in python
* Types in Python

## Features:
*  Python gets rid of () and {} by incorporating two main factors: a colon and whitespace. The statement is ended with a colon, and whitespace is used (indentation) to describe what takes place in case of the statement.

    **Version 1 (Other Languages)**

        if (a>b){
            a = 2;
            b = 4;
        }

    **Version 2 (Python)**   

        if a>b:
            a = 2
            b = 4
* Python is less cluttered and much more readable
* Dynamically Typed
* Fast
* Interpreted

## Numbers
Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Here is a table of the two main types we will spend most of our time working with some examples:

<table border = “1“>
<caption>Numbers in Python</caption> 
<tr>
    <th>Examples</th> <th>Number "Type"</th>
</tr>
<td>1,2,-5,1000</td> <td>Integers</td> 
<tr>
</tr>
<td>1.2,-0.5,2e2,3E2</td> <td>Floating-point numbers</td> 
<tr>
</tr>
 </table>
 
 
 
Now let's start with some basic arithmetic.

## Basic Arithmetics

In [2]:
# Addition
2+1

3

In [3]:
# Substraction
2-1

1

In [4]:
# Multiplication
2*2

4

In [5]:
# Division
3/2

1.5

In [6]:
#Powers
2**3

8

In [7]:
#Can also do roots 
4**0.5

2.0

In [8]:
# Order of operations followed in python
2 + 10 * 10 + 3

105

In [9]:
# Can use parenthesis to specify orders
(2+10) * (10+3)

156

## Advanced Numbers

### 1. Hexadecimal

In [15]:
hex(246)

'0xf6'

In [17]:
hex(512)

'0x200'

### 2. Binary

In [18]:
bin(1234)

'0b10011010010'

In [20]:
bin(128)

'0b10000000'

In [21]:
bin(512)

'0b1000000000'

### 3. Functions on numbers

``` pow() ``` With two arguments, equivalent to x^y. With three arguments, equivalent to (x^y) % z

In [23]:
pow(2,3)

8

In [25]:
pow(2,5,3)

2

``` abs() ``` Absolute Value

In [26]:
abs(-3)

3

In [27]:
abs(3)

3

``` round() ``` Round a number to a given precision in decimal digits (default 0 digits). This always returns a floating point number.

In [28]:
round(3)

3

In [31]:
round(3.1415926535,2)

3.14

## Dynamically Typed

In [10]:
x=3
print(x)
x=3.5
print(x)
x="Three Point Five"
print(x)

3
3.5
Three Point Five

## Objects in python

* **Everyting in python is object** 
    
    ```python
    x=3 #is a PyIntObject ``` 
    
    x is being created on stack and PyIntObject with value of 3 is being created on heap. Stack holds your local variables and is managed by your program, whereas the heap holds dynamically created data and managed by operating system 
    
    So what happens when we now say x = 4.5? First, a PyFloatObject with the value of 4.5 will be created. Then, x will be set to point directly to that new PyFloatObject.

In [11]:
x= 3.0
y= 3
print(x==y) #checks for value equality
print(x is y) #checks for object type equality

True
False

* **Calling methods on Objects**
 ```python 
 x="Hello"
 ```
 Like Java, In python strings are immutable, means can not be changed. also provides methods like *lower*

In [14]:
x="HELLO"
x = x.lower()

print(x)

hello

# Types in python
1. **Numeric:** integers, float, complex
2. **Sequence:** list, tuple, range
3. **Binary:** byte, bytearray
4. **True/False:** bool
5. **Text:** string

### 1. Complex

```complex()``` returns a complex number with the value real + imag*1j or converts a string or number to a complex number. 

If the first parameter is a string, it will be interpreted as a complex number and the function must be called without a second parameter. The second parameter can never be a string.

In [32]:
complex()

0j

In [33]:
complex(4,2)

(4+2j)

In [34]:
complex('12+2j')

(12+2j)