# Strings

Strings are used in Python to record text information, such as name. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python 

Topics Covered:

    1.) Creating Strings
    2.) String Indexing and Slicing
    3.) String Properties
    4.) String Methods
    5.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes.

In [12]:
#single word
'hello'

'hello'

In [13]:
# Entire phrase
'this is also a string'

'this is also a string'

In [14]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [16]:
# Be careful with quotes!
'I 'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-16-548c4c0b32d3>, line 2)

The reason for the error above is because the single quote in I'm stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [18]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [20]:
len("Hello Word")

10

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence.

In [22]:
s = 'Hello World'

In [25]:
print(s[0])

H

In [27]:
s[1:]

'ello World'

In [29]:
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [31]:
#Everything
s[:]

'Hello World'

In [33]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [35]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified *step size* (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [36]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [38]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [39]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties
Its important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [40]:
s

'Hello World'

In [41]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [52]:
s='Hello World'
print(s)
# Concatenate strings!
s + ' concatenate me!'

Hello World

'Hello World concatenate me!'

In [53]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [54]:
print(s)

Hello World concatenate me!

We can use the multiplication symbol to create repetition!

In [55]:
letter = 'z'

In [64]:
letter*10

'zzzzzzzzzz'

In [65]:
'1'*3 + '2'* 4

'1112222'

## Basic Built-in String methods

In [58]:
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [59]:
s.lower()

'hello world concatenate me!'

In [62]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [78]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['vikas, gupta, mahesh, rajeev,100']

In [79]:
s = 'hello world'

In [80]:
# Capitalize first word in string
s.capitalize()

'Hello world'

In [81]:
s.count('o')

2

In [82]:
s.find('o')

4

## IsCheck methods

In [84]:
s = 'hello'

``` isalnum()``` will return True if all characters in S are alphanumeric

In [85]:
s.isalnum()

True

``` isalpha() ``` wil return True if all characters in S are alphabetic

In [86]:
s.isalpha()

True

```islower()``` will return True if all cased characters in S are lowercase and there is at least one cased character in S, False otherwise.

In [87]:
s.islower()

True

``` isspace()``` will return True if all characters in S are whitespace.

In [88]:
s.isspace()

False

``` istitle() ``` will return True if S is a title cased string and there is at least one character in S, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. Return False otherwise.

In [96]:
'hEllo'.istitle()

False

```isupper()``` will return True if all cased characters in S are uppercase and there is at least one cased character in S, False otherwise.

In [97]:
'Hello'.isupper()

False

Another method is ``` endswith() ``` which is essentially the same as a boolean check on s[-1]

In [98]:
s.endswith('o')

True

In [67]:
# remove whitespaces or extra characters if specified
x = '   Extras   \n'
print(x.strip())


s = '****10***'
s.strip('*') #strip(s[,chars])

Extras

'10'

In [70]:
word = "Hello"

print(word[1:3])

print(word[4:7])

print(word[-4:-1]) #word[1:4]

el
o
ell

## String to Number Conversion

In [72]:
word = '1234'
int(word)

1234

In [73]:
float(word)

1234.0

In [74]:
word = '12F'
float(word)

ValueError: could not convert string to float: '12F'

## String Formatting

In [75]:
statement = "we love {} {}."
statement.format("data", "science")

'we love data science.'

In [76]:
statement = "we love {0},{1}."
statement.format("data","science")

'we love data,science.'

In [77]:
statement = "We love {1} {0}."
statement.format("science","data")

'We love data science.'