# Lists
Earlier when discussing strings we introduced the concept of a sequence in Python. Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!


In this section we will learn about:
1. Creating lists
2. Indexing and Slicing Lists
3. Operations on Lists
4. Nesting Lists
5. Introduction to List Comprehensions


Lists are constructed with brackets [] and commas separating every element in the list.

## Creating Lists

In [3]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [4]:
#lists can actually hold different object types
my_list = ['A string',23,100.232,'o']

Just like strings, the ```len()``` function will tell you how many items are in the sequence of the list.

In [5]:
len(my_list)

4

## Indexing and Slicing Lists
Works like strings

In [6]:
my_list = ['one','two','three',4,5]

In [7]:
# Grab element at index 0
my_list[0]

'one'

In [8]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [9]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use + to concatenate lists, just like we did for strings.

In [10]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

In [12]:
my_list

['one', 'two', 'three', 4, 5]

You would have to reassign the list to make the change permanent.

In [13]:
# Reassign
my_list = my_list + ['add new item permanently']

In [14]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [15]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

## Operations on Lists

In [19]:
# Create a new list
list = [1,2,3]

In [20]:
# Append
list.append('append me!')

In [23]:
#Change element at index 3
list[3]=11
print(list)

[1, 2, 3, 11]

In [26]:
# printing lists
for i in list:
    print(i)
    
#OR

for i in range(0,len(list)):
    print(list[i])

1
2
3
11
1
2
3
11

In [58]:
# Deleting from a list --> Removing by index
#allows us to "pop" off the last element of a list.
list = [11,22,33,44]
list.pop(2)
list

[11, 22, 44]

In [29]:
#Deleting from a list --> Removing by value
list = [11,22,33,44]

list.remove(33)

list

[11, 22, 44]

In [57]:
#method removes the first occurrence of a value
l = [1,2,3,4,3]
l.remove(3)
l

[1, 2, 4, 3]

In [31]:
# Adding one list with other --> Merging extend
list =[1,2,3]
list2 = [6,7,8,9]
list.extend(list2)
list

[1, 2, 3, 6, 7, 8, 9]

In [67]:
# what apppend does
list =[1,2,3]
list2 = [6,7,8,9]
list.append(list2)
list

[1, 2, 3, [6, 7, 8, 9]]

**
Many times people find the difference between extend and append to be unclear. 
**

**```append()``` : Appends object at end**

**```extend()``` : extends list by appending elements from the iterable**

In [34]:
# Zipping list --> Working with multiple list at same time
list =[1,2,3]
list2 = [6,7,8,9]

for x, y in zip(list,list2):
    print("{0}, {1}".format(x,y))

1, 6
2, 7
3, 8

In [36]:
# changes in actual changed reference 
x = [10,20,30]
y = x
x[1] = 42
print(y)

[10, 42, 30]

In [ ]:
del(list)

In [39]:
# Copying one list to other --> Deep Copy
x = [10,20,30]
y = list(x)
x[1] = 42
print(y)

[10, 20, 30]

In [44]:
new_list = ['a','e','x','b','c']

In [45]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()
new_list

['c', 'b', 'x', 'e', 'a']

In [59]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

```insert()```takes in two arguments: insert(index,object) This method places the object at the index supplied.

In [60]:
list=[1,2,3,4]

In [62]:
# Place a letter at the index 2
list.insert(2,'inserted')
list

[1, 2, 'inserted', 'inserted', 3, 4]

```index()``` will return the index of whatever element is placed as an argument. Note: If the the element is not in the list an error is returned.

In [65]:
list.index(4)

5

In [68]:
list.index(10)

ValueError: 10 is not in list

```count()``` takes in an element and returns the number of times it occures in your list

In [70]:
list = [10,20,10,10,20,50,11,21]
print("Count Of 10",list.count(10))

print("Count Of 12",list.count(12))

print("Count Of 21",list.count(21))

Count Of 10 3
Count Of 12 0
Count Of 21 1

## Nesting Lists

In [4]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [5]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [7]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

## List Comprehensions
List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line for loop built inside of brackets.

In [8]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [9]:
first_col

[1, 4, 7]

In [11]:
lst = [x for x in 'word']

In [13]:
lst

['w', 'o', 'r', 'd']

In [14]:
lst = [x**2 for x in range(0,11)]

In [15]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
lst = [x for x in range(11) if x % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [20]:
celsius = [0,10,20.1,34.5]
fahrenheit = [ ((float(9)/5)*temp + 32) for temp in celsius ]
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [ ]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst